<h1>Sign up</h1>
<%= form_with(model: sign_up_path, model: @father, local: true) do |form| %>
  <% if @father.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@father.errors.count, "error") %> prohibited this father from being saved:</h2>

      <ul>
      <% @father.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :branch_id %>
    <%= form.select :branch_id, Branch.order(:name).map { |branch| [branch.name, branch.id] }, include_blank: "Select the branch: " %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<div><%= link_to "Sign up for licensee!",  licensee_sign_up_path  %></div>
<div><%= link_to "Sign up for teacher!",   teacher_sign_up_path  %></div>