<p id="notice"><%= notice %></p>

<h4>Parents Login</h4>
<p><%= link_to "Login", login_path %></p>

<h4>Licensees Login</h4>
<p><%= link_to "Licensee Login", licensee_login_path %></p>

<h4>Teachers Login</h4>
<p><%= link_to "Teacher Login", teacher_login_path %></p>

<hr>

<h4>Session ID: <%= %></h4>

<p><strong>Announcement</strong></p>



