<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form_input"  %>
  </div>

  <div class="field">
    <%= form.label :ic %>
    <%= form.text_field :ic, class: "form_input"  %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, class: "form_input"  %>
  </div>

  <div class="field">
    <%= form.label :nationality %>
    <%= form.text_field :nationality, class: "form_input"  %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday %>
  </div>

  <div class="field">
    <%= form.label :enrollment_date %>
    <%= form.date_field :enrollment_date %>
  </div>

  <div class="field">
    <%= form.label :status_enrollment %>
    <%= form.select :status_enrollment, "<option>Select the status: </option><option>Active</option><option>Graduated</option><option>Transfered School</option>".html_safe %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, class: "form_text_input"  %>
  </div>

  <div class="field">
    <%= form.label :classroom_id %>
    <%= form.select :classroom_id, Classroom.order(:name).map { |classroom| [classroom.name, classroom.id] }, include_blank: "Select the classroom: " %>
  </div>
  
   <div class="field">
    <%= form.label :father_id %>
    <%= form.select :father_id, Father.order(:name).map { |father| [father.name, father.id] }, include_blank: "Select the student's father: " %>
  </div>
  
  <div class="field">
    <%= form.label :mother_id %>
    <%= form.select :mother_id, Mother.order(:name).map { |mother| [mother.name, mother.id] }, include_blank: "Select the student's mother: " %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
