<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Ic:</strong>
  <%= @student.ic %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @student.nationality %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @student.birthday %>
</p>

<p>
  <strong>Enrollment date:</strong>
  <%= @student.enrollment_date %>
</p>

<p>
  <strong>Status enrollment:</strong>
  <%= @student.status_enrollment %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @student.classroom.name %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
