<%= form_with(model: mother, local: true) do |form| %>
  <% if mother.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mother.errors.count, "error") %> prohibited this mother from being saved:</h2>

      <ul>
      <% mother.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :ic %>
    <%= form.text_field :ic %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :nationality %>
    <%= form.text_field :nationality %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.text_field :contact %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :branch_id %>
    <%= form.select :branch_id, Branch.order(:name).map { |branch| [branch.name, branch.id] }, include_blank: "Select the branch: " %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
