<div class="login_div">
  <%= form_tag "/admin/login" do %>
    <h2 style="text-align: center">Admin Login</h2>
      <%= text_field_tag "email", '', placeholder: 'Email address', class: "form_input" %>
      <%= password_field_tag "password", '', placeholder: 'Password', class: "form_input" %>
    <br>
    
    <%= submit_tag "Login", class: "login_btn" %>
    <br>

  <% end %>
  
  <div style="text-align: center">
    <div>Are you admin? <%= link_to "Sign in as user!", login_path  %></div>
    <div>Are you licensee? <%= link_to "Sign in as licensee!", licensee_login_path %></div>
    <div>Are you teacher? <%= link_to "Sign in as teacher!", teacher_login_path %></div>
  </div>

</div>
    
    

 
