<h1>Parent Log in</h1>
<%= form_tag "/login" do |form|%>

  <label> Email </label>
  <%= text_field_tag "email" %>
  <br>
  
  <label> Password </label>
  <%= password_field_tag "password" %>
  
  <br>

  <%= submit_tag "Login" %>
  
<% end %>

 <div>Are you admin? <%= link_to "Sign in as admin!", admin_login_path  %></div>
 <div>Are you licensee? <%= link_to "Sign in as licensee!",  licensee_login_path  %></div>
 <div>Are you teacher? <%= link_to "Sign in as teacher!",   teacher_login_path  %></div>