<%= form_with(model: sign_up_path, model: @licensee, local: true) do |form| %>
  <% if @licensee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@licensee.errors.count, "error") %> prohibited this licensee from being saved:</h2>

      <ul>
      <% @licensee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form_input" %>
  </div>

  <div class="field">
    <%= form.label :ic %>
    <%= form.text_field :ic, class: "form_input" %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, class: "form_input" %>
  </div>

  <div class="field">
    <%= form.label :nationality %>
    <%= form.text_field :nationality, class: "form_input" %>
  </div>

  <div class="field">
    <%= form.label :experiences %>
    <%= form.text_area :experiences, class: "form_text_input" %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.text_field :contact, class: "form_input" %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, class: "form_text_input" %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form_input" %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form_input" %>
  </div>

  <div class="field">
    <%= form.label :branch_id %>
    <%= form.select :branch_id, Branch.order(:name).map { |branch| [branch.name, branch.id] }, include_blank: "Select the branch: " %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
