<!DOCTYPE html>
<html>
  <head>
    <title>Gemini Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.0.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <a class="navbar-brand" href="/homepages/index" >Kindergarten</a>
        
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%= link_to "Announcements", announcements_path %>
          </li>
        
          <li class="nav-item active">
            <%= link_to "Branches", branches_path %>
          </li>
        
          <li class="nav-item active">
            <%= link_to "Licensees", licensees_path %>
          </li>
        
          <li class="nav-item active">
            <%= link_to "Teachers", teachers_path %>
          </li>
          
          <li class="nav-item active">
            <%= link_to "Students", students_path %>
          </li>
          
          <li class="nav-item active">
            <%= link_to "Classrooms", classrooms_path %>
          </li>
          
          <li class="nav-item active">
            <%= link_to "Student's Father", fathers_path %>
          </li>
          
          <li class="nav-item active">
            <%= link_to "Student's Mother", mothers_path %>
          </li>
        
          <li class="nav-item active">
            <%= link_to "Admin Profile", admins_path %>
          </li>
          
          <li class="nav-item active">
            <%= link_to "Admin Login", admin_login_path %>
          </li>
          
         </ul>
       </nav>
    </header>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
        </div>
        
        <div class="col-sm-8">
          <%= yield %>
        </div>
        
        <div class="col-sm-2">
        </div>
       </div>
     </div>
  </body>

</html>
