<!DOCTYPE html>
<html>
  <head>
    <title>Gemini Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.0.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Announcements</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="#">Branches Detail</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="#">Licensees Detail</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="#">Teachers Detail</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Students Detail</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Classrooms Detail</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Parents Detail</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="#">Admin Details</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Sign Up</a>
          </li>
         </ul>
       </nav>
    </header>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1">
          <div class="sidenav">
            <a href="#">About</a> <br>
            <a href="#">Services</a> <br>
            <a href="#">Contact</a>
          </div>
        </div>
        
        <div class="col-sm-11">
          <p>User Name:</p>
          <%= yield %>
        </div>
       </div>
     </div>
  </body>
  
  <footer class="footer">
    <div class="container" style="text-align: center">
      <span class="text-muted">Kindergarten © Copyright 2018</span>
    </div>
  </footer>
</html>
