<!DOCTYPE html>
<html>
  <head>
    <title>Gemini</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.0.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <a class="navbar-brand" href="/admins/homepages" >Kindergarten</a>
        <ul class="nav navbar-nav navbar-right">

          <li class="nav-item active">
            Current Licensee: <%= display_name %>
          </li>
          
          <li class="nav-item active">
            <%= link_to "Licensee Profile", "#" %>
          </li>
          
          <li class="nav-item">
            <% if current_licensee.present? %>
              <%= link_to "Licensee Logout", licensee_logout_path, data: {method: :delete} %>
            <% else %>
              <%= link_to "Licensee Login", licensee_login_path %>
            <% end %>
          </li>

         </ul>
       </nav>
    </header>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <nav id="sidebar">

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#">About</a>
            </li>
            
            <li>
              <a href="#announcementSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Announcements</a>
              <ul class="collapse list-unstyled" id="announcementSubmenu">
                <li><%= link_to "Announcement", homepages_path %></li>
              </ul>
            </li>
            
            <li>
              <a href="#teacherSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Teachers</a>
              <ul class="collapse list-unstyled" id="teacherSubmenu">
                <li><%= link_to "My Branch's Teachers", "#" %></li>
                <li><%= link_to "Add New Teacher", "#" %></li>
              </ul>
            </li>
            
            <li>
              <a href="#classroomSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Classrooms</a>
              <ul class="collapse list-unstyled" id="classroomSubmenu">
                <li><%= link_to "My Branch's Classrooms", "#" %></li>
                <li><%= link_to "Add New Classroom", "#" %></li>
              </ul>
            </li>
            
            <li>
              <a href="#studentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Students</a>
              <ul class="collapse list-unstyled" id="studentSubmenu">
                <li><%= link_to "My Branch's Students", "#" %></li>
                <li><%= link_to "Add New Student", "#" %></li>
              </ul>
            </li>
            
            <li>
              <a href="#parentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Parents</a>
              <ul class="collapse list-unstyled" id="parentsSubmenu">
                <li><%= link_to "Students' Father", "#" %></li>
                <li><%= link_to "Students' Mother", "#" %></li>
                <li><%= link_to "Add New Students Father", "#" %></li>
                <li><%= link_to "Add New Students Mother", "#" %></li>
              </ul>
            </li>
            
            <li class="nav-item">
              <% if current_licensee.present? %>
                <%= link_to "Licensee Logout", licensee_logout_path, data: {method: :delete} %>
              <% else %>
                <%= link_to "Licensee Login", licensee_login_path %>
              <% end %>
            </li>
          </nav>
        </div>
        
        <div class="col-sm-8">
          <p><strong>Licensee: <% session[:licensee_id] %></strong></p>
          <p><strong>Branch: <% session[:branch_id] %></strong></p>
          
          <%= yield %>
        </div>
        
        <div class="col-sm-2">
        </div>
       </div>
     </div>
  </body>

</html>
