<!DOCTYPE html>
<html>
  <head>
    <title>Gemini</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.0.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm bg-info navbar-light">
        <a class="navbar-brand" href="/homepages">Kindergarten</a>
          
          <ul class="navbar-nav">
            <li class="nav-item active">
              Current Teacher: <%= display_name %>
            </li>
          
            <li class="nav-item active">
              <% if session[:teacher_id].present? %>
                <%= link_to "Teacher Profile", "#" %>
              <% else %>
                <% nil %>
              <% end %>
            </li>
          
            <li class="nav-item">
              <% if current_teacher.present? %>
                <%= link_to "Teacher Logout", teacher_logout_path, data: {method: :delete} %>
              <% else %>
                <%= link_to "Teacher Login", teacher_login_path %>
              <% end %>
            </li>
         </ul>
      </nav>
    </header>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2">
          <nav id="sidebar">

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#">About</a>
            </li>
            
            <li>
              <a href="#announcementSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Announcements</a>
              <ul class="collapse list-unstyled" id="announcementSubmenu">
                <li><%= link_to "Announcement", homepages_path %></li>
              </ul>
            </li>
            
            <li>
              <a href="#classroomSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Student's Exam Result</a>
              <ul class="collapse list-unstyled" id="classroomSubmenu">
                <li><%= link_to "My Teaching Classrooms", "#" %></li>
              </ul>
            </li>
            
            <li>
              <a href="#studentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Student Profile</a>
              <ul class="collapse list-unstyled" id="studentSubmenu">
                <li><%= link_to "My Teaching Students", "#" %></li>
              </ul>
            </li>
            
            <li>
              <a href="#parentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Parents</a>
              <ul class="collapse list-unstyled" id="parentsSubmenu">
                <li><%= link_to "Students Father Profile", "#" %></li>
                <li><%= link_to "Students Mother Profile", "#" %></li>
              </ul>
            </li>
            
            <li>
              <% if current_licensee.present? %>
                <%= link_to "Teacher Logout", teacher_logout_path, data: {method: :delete} %>
              <% else %>
                <%= link_to "Teacher Login", teacher_login_path %>
              <% end %>
            </li>
          </nav>
        </div>
      
        <div class="col-sm-8">
          <p><strong>Teacher: <% session[:teacher_id] %></strong></p>
          <p><strong>Licensee: <% session[:licensee_id] %></strong></p>
          <p><strong>Student: <% session[:student_id] %></strong></p>
          <p><strong>Classroom: <% session[:classroom_id] %></strong></p>
          <p><strong>Branch: <% session[:branch_id] %></strong></p>
          <p><strong>Parent: <% session[:father_id] %></strong></p>

          <%= yield %>
        </div>
        
        <div class="col-sm-2">
       </div>
     </div>
  </body>
  
</html>
